@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

.custom.controller {
    width: 1900px;
    height: 360px;
    font-family: 'Orbitron', sans-serif;
}

.custom .gauge-vertical {
    width: 20px;
    height: 135px;
    position: absolute;
    left: 50px;
    top: 42px;
    background: black;
    border: 2px solid #03b2e1;
    border-radius: 20px;
    padding: 5px;
}

.custom .gauge-horizontal {
    width: 135px;
    height: 20px;
    position: absolute;
    right: 50px;
    top: 100px;
    background: black;
    border: 2px solid #03b2e1;
    border-radius: 20px;
    padding: 5px;
}

.custom .gauge-vertical:after {
    content: "THROTTLE";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #03b2e1;
    top: 50%;
    left: -60px;
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}

.custom .gauge-horizontal:after {
    content: "STEERING";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #03b2e1;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}